################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShipManagement/obj
/ShipManagement/bin
/ShipManagementTests/obj
/ShipManagementTests/bin
/ShipManagement/Logs
